<!DOCTYPE html>
<html>
    <head>
        <title>Your Listings</title>
        <nav class="nav">
            <button class='homepage'>
                <a href="/index">
                   Homepage 
                </a>
            </button>
            <button class='mybookings'><a href="/my-bookings">My bookings</a></button>
        </nav>
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <h2>Your Listings</h2>
        <a href="/create-space"> 
            <button class="createspace">Create new space</button>
        </a>
        <!--
            Loop through host's spaces and show space values to user
        -->
        {% for space in spaces %}
        <p class="name">Name: {{ space.name }} </p>
        <p class="description">Description: {{ space.description }} </p>
        <p class="price">Price per Night: {{ space.price_per_night }}</p>
        <p class="start">Availability Start: {{ space.availability_start }}</p>
        <p class="end">Availability End: {{ space.availability_end }}</p>
        <button>Delete</button> <!--Need to add function, place holder for now-->
        <button>Update</button> <!--Need to add function, place holder for now-->
        {% endfor %}
    </body>
</html>