<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css" >
        <nav class="nav">
            <button class='mybookings'><a href="/my-bookings">My bookings</a></button>
            <button class='hostlistings'><a href="/host-listings">My listings</a></button>
            {% if not username or username == None %}
                <button class='signed-in-status'><a href="/sign-in">Sign In</a></button>
            {% else %}
                <button class='signed-in-status'><a href="/sign-out">Sign Out</a></button>
            {% endif %}
            <div class="current_user_username">Hello, {{ username }}!</div>
        </nav>

    </head>
    <body>
        <h2>All Spaces:</h2>


        <div class="list">
            {% for space in spaces %}
            <div class="card">
                <p id="name{{ space.id }}">Name: {{ space.name }}</p>
                <p id="description{{ space.id}}">Description: {{ space.description }}</p>
                <p id="price{{ space.id }}">Price per Night: {{ space.price_per_night }}</p>
                <p id="start{{ space.id }}">Availability Start: {{ space.availability_start }}</p>
                <p id="end{{ space.id }}">Availability End: {{ space.availability_end }}</p>
                <button class="bookspace{{ space.id }}">
                    <a href="/create-booking?place_id={{ space.id }}">Book this Space</a>
                </button>
            </div>
            {% endfor %}
        </div>
    </body>
</html>
