<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css" >
        <nav class="nav">
            <button class='mybookings'><a href="/my-bookings">My bookings</a></button>
            <button class='hostlistings'><a href="/host-listings">My listings</a></button>
        </nav>

    </head>
    <body>
        <h2>All Spaces:</h2>
        <div class="current_user_username">{{ username }}</div>

        <div>
            {% for space in spaces %}
            <p id="name{{ space.id }}">Name: {{ space.name }}</p>
            <p id="description{{ space.id}}">Description: {{ space.description }}</p>
            <p id="price{{ space.id }}">Price per Night: {{ space.price_per_night }}</p>
            <p id="start{{ space.id }}">Availability Start: {{ space.availability_start }}</p>
            <p id="end{{ space.id }}">Availability End: {{ space.availability_end }}</p>
            {% endfor %}
        </div>
    </body>
</html>
