<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>
        <link rel="stylesheet" href="/static/style.css" >
        <nav class="nav">
            <button class='homepage'>
                <a href="/index">
                   Homepage 
                </a>
            </button>
        </nav>
    </head>
    <body>
        <h1>My Bookings</h1>
        <p>Your Bookings:</p>
        <div>
        {% for booking in bookings %}
        <h3>Date</h3>
        <p class="date">
            {{ booking["date"] }}
        </p>
        <h3>Name and Price</h3>
        <p class="details">
            {{ booking["name"] }}
            {{ booking["price"] }}
        </p>
        {% endfor %}
        </div>
    </body>
</html>