<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css" >
        <nav class="nav">
            <button class='homepage'>
                <a href="/index">
                    Homepage 
                </a>
            </button>
            <button class='mylistings'>
                <a href="/host-listings">
                    My listings 
                </a>
            </button>
        </nav>
    </head>
    <body>
        <h1>My Bookings</h1>
        <p>Your Bookings:</p>
        <div>
        {% for booking in bookings %}
        <h3>Date</h3>
        <p class="date">
            {{ booking["date"] }}
        </p>
        <h3>Details</h3>
        <p class="details">
            Place: {{ booking["name"] }},
            Price: {{ booking["price"] }}
        </p>
        {% endfor %}
        </div>
    </body>
</html>